includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    # Level 9 is the highest level
    level: 3
    paths:
        - app/
    inferPrivatePropertyTypeFromConstructor: true

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false